h2{
    font: size 60px;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background: url(./rohitbg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: blanchedalmond;
}
img{
    border-radius: 20% 20% 20% 20%;
}
#hello{
    border-radius: 0% 0% 0% 0%;
}
body{
    font-size: 20px;
    color:paleturquoise;
    font-style:normal;
}
.roo{
    color:color(from color srgb r g b);
}